/* 가운데 영역 기본 레이아웃 */
.middle-content {
  flex: 1 1 auto; /* flex-grow:1, flex-shrink:1, flex-basis:auto */
  min-width: 0; /* 오버플로우 방지 */
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.middle-content img {
  width: 400px !important;
  height: 350px !important;
  object-fit: fill !important;
  border-radius: 10px;
  border: 3px solid white;
  display: block;
  margin: 0 auto 20px;
}

.bio-section {
  width: 100%;
}

.bio-section textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fafafa;
  color: #333;
  text-align: center;
}

/* 하단 버튼 */
.post-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.post-button {
  min-width: 140px;
  height: 40px;
  padding: 0 16px;
  background-color: #9f2120;
  color: #fff;
  font-weight: 600;
  font-family: "Pretendard", sans-serif;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.post-button:hover {
  background-color: #9f2120;
  opacity: 90%;
}

/* ===== 공통 설정 ===== */
body.minihome-page .content-container {
  display: flex;
  gap: 20px;
}
