<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>FeatherWorld Sidebar</title>
    <link rel="stylesheet" th:href="@{/css/common/leftsidebar.css}" />
  </head>
  <body th:attr="data-member-no=${member != null ? member.memberNo : 0}">
    <!-- sidebar.html -->
    <div th:fragment="sidebarFragment" class="left-sidebar">
      <!--th:object="member"-->
      <!-- 방문 번호 표시 -->
      <p>Today / Total</p>
      <div class="vistorno" th:text="${vistorno}">회원</div>

      <div class="profile-info">
        <div class="profile-image">
          <img
            th:src="${session.loginMember != null and session.loginMember.memberImg != null} ? @{${session.loginMember.memberImg}} : @{/images/user.png}"
          />
        </div>

        <!-- 회원 표시 -->
        <div class="profile-name" th:text="${membername}">회원</div>

        <!-- 이메일 -->
        <div class="profile-handle" th:text="${memberEmail}">
          user@email.com
        </div>

        <!-- 팔로워 / 팔로잉 수 -->
        <div class="profile-stats">
          <div class="stat">
            <div class="stat-number" th:text="${followerCount}">0</div>
            <div class="stat-label">Follower</div>
          </div>
          <div class="stat">
            <div class="stat-number" th:text="${followingCount}">0</div>
            <div class="stat-label">Following</div>
          </div>
        </div>

        <!-- 내 프로필일 때 -->
        <div
          class="profile-action button-container"
          th:if="${loginMember != null and member != null and loginMember.memberNo == member.memberNo}"
        >
          <a
            th:href="@{'/member/edit/' + ${member.memberNo}}"
            class="action-button Edit-button"
          >
            Edit Profile
          </a>

          <form th:action="@{/logout}" method="post" style="display: inline">
            <button type="submit" class="action-button Logout-button">
              Logout
            </button>
          </form>

          <button class="action-button surfing-button">surfing</button>
        </div>

        <!-- 다른 사람 프로필일 때 follow 버튼 -->
        <div
          class="profile-action"
          th:if="${loginMember != null and member != null and loginMember.memberNo != member.memberNo}"
        >
          <button class="action-button follow-button">follow</button>
        </div>

        <!-- edit 모드 -->
        <div class="profile-action" th:if="${isEditMode}">
          <button id="confirmEditBtn" class="action-button Edit-button">
            Confirm
          </button>
          <button id="backToProfileBtn" class="action-button back-button">
            Back
          </button>
        </div>

        <div
          id="bio-display"
          class="bio-display"
          th:text="${member != null ? member.intro : '소개가 없습니다.'}"
        ></div>
      </div>
    </div>

    <!-- sidebar.js 파일 연결 -->
    <script th:src="@{/js/miniHome/sidebar.js}"></script>
  </body>
</html>
