<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeatherWorld - Delete Account</title>
    
    <!-- 공용 CSS/JS -->
    <th:block th:replace="~{common/common}"></th:block>
    
    <!-- 탈퇴 전용 CSS -->
    <link rel="stylesheet" href="/css/profile/profileDelete.css" />
  </head>
  <body>
    <!-- Header -->
    <div th:replace="~{common/header}"></div>

    <div class="content-container">
      <!-- Left Sidebar -->
      <div th:replace="~{common/leftsidebar}"></div>

      <div class="middle-sidebar">
        <form action="/secession" method="post" onsubmit="return validateForm()">
          <h1>계정 탈퇴</h1>

          <!-- 약관 -->
          <div class="terms-container">
            <div class="terms-content">
              <strong>제1조 (목적)</strong><br />
              이 약관은 주식회사 카카오(이하 "회사")가 제공하는 온라인 인재영입
              웹사이트 서비스(이하 "서비스")에 대한 이용계약을 체결한 이용자(이하 회원)의
              서비스 이용조건 및 절차, 회사와 회원의 권리와 의무 및 책임사항을 규정함을 목적으로 합니다.<br /><br />
              <strong>제2조 (정의)</strong><br />
              (7) 회원 ID란 회원 식별 및 서비스 이용 등을 위해 이용자가 직접 설정,
              입력한 이메일주소를 뜻합니다.
            </div>
          </div>

          <!-- 약관 동의 체크 -->
          <div class="checkbox-container">
            <input type="checkbox" name="agree" id="agree" required />
            <label for="agree">이용약관에 동의합니다.</label>
          </div>

         <!-- 비밀번호 입력 -->
        <div class="input-group">
          <label for="memberPw">PASSWORD :</label>
          <input type="password" id="memberPw" name="memberPw" required placeholder="비밀번호를 입력해주세요" />
        </div>

        <!-- 비밀번호 확인 -->
        <div class="input-group">
          <label for="memberPwCheck">PASSWORD CHECK :</label>
          <input type="password" id="memberPwCheck" name="memberPwCheck" required placeholder="비밀번호를 입력해주세요" />
        </div>


          <!-- 버튼 -->
          <div class="post-actions">
            <button type="submit" class="post-button">Delete Account</button>
            <a href="javascript:history.back()" class="post-button">Return</a>
          </div>
        </form>
      </div>

      <!-- Right Sidebar -->
      <th:block th:replace="~{common/navSidebar}"></th:block>
    </div>

    <!-- Footer -->
    <th:block th:replace="~{common/footer}"></th:block>

    <!-- 별도 분리된 JS -->
    <script src="/js/profile/profileDelete.js"></script>
  </body>
</html>
