<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Profile Update</title>
    <!-- 공용 css/js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
    <!-- myPage 전용 CSS -->
    <link rel="stylesheet" th:href="@{/css/profile/profileupdate.css}" />
  </head>
  <body>
    <!-- Header Fragment -->
    <div th:replace="~{common/header}"></div>

    <div class="content-container">
      <!-- Left Sidebar -->
      <div class="left-sidebar" th:replace="~{common/leftsidebar}"></div>

      <div class="middle-sidebar">
        <form
          id="uploadForm"
          th:action="@{/{memberNo}/profileupdate(memberNo=${memberNo})}"
          method="POST"
          enctype="multipart/form-data"
        >
          <!-- 사진 업로드 -->
          <div
            class="upload-bio-container"
            onclick="document.getElementById('image').click()"
          >
            <input
              type="file"
              id="image"
              name="uploadFile"
              accept="image/*"
              class="file-input"
              onchange="previewImage(event)"
              style="display: none"
            />
            <div
              class="image-upload-box"
              th:if="${profile != null and profile.imgPath != null}"
            >
              <img
                th:src="@{${profile.imgPath}}"
                alt="프로필 이미지"
                style="max-width: 100%; max-height: 100%"
              />
            </div>
            <div
              class="image-upload-box"
              th:if="${profile == null or profile.imgPath == null}"
            >
              <p>여기를 클릭해서 사진을 업로드하세요</p>
            </div>
          </div>

          <!-- 자기소개 텍스트 영역 -->
          <div class="bio-section">
            <textarea
              id="bio-input"
              name="bio"
              class="bio-textarea"
              placeholder="자기소개를 입력하세요..."
              rows="5"
              th:text="${profile != null} ? profile.profileContent : ''"
            ></textarea>
          </div>

          <!-- 버튼 -->
          <div class="post-actions">
            <button id="backToProfileBtn" class="back-button" type="button" onclick="history.back()">Back</button>
            <button type="submit" class="confirm-button">Confirm</button>
          </div>
        </form>
      </div>

      <!-- Right Sidebar -->
      <th:block th:replace="~{common/navSidebar}"></th:block>
    </div>

    <!-- Footer -->
    <th:block th:replace="~{common/footer}"></th:block>

    <!-- JS -->
     <script>
      const memberNo = /*[[${memberNo}]]*/ 0;
    </script>
    <script src="/js/profile/profileupdate.js"></script>
    <script src="/js/miniHome/sidebar.js"></script>
  </body>
</html>
