<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeatherWorld</title>
    <!-- 공용 CSS/JS 불러오기 -->
    <th:block th:replace="~{common/common}"></th:block>

    <!-- myPage 전용 CSS -->
    <link rel="stylesheet" href="/css/profile/Profile.css" />
  </head>
  <body data-member-no="${member.memberNo}">
    <!-- Header Fragment -->
    <div th:replace="~{common/header}"></div>

    <div class="content-container">
      <div class="left-sidebar">
        <!-- Left sidebar - Profile Information -->
        <div th:replace="~{common/leftsidebar}"></div>
      </div>

      <!-- Middle Panel - Posts -->
      <div class="middle-sidebar">
        <!-- ====================== 이미지가 있을 경우 출력하는 구문  ====================== -->
           
            <th:block th:if="${ #lists.size(board.imageList) > 0}">

                <!-- 썸네일이 있을 경우 -->
                <th:block th:if="*{thumbnail}">
                    <h5>썸네일</h5>
                    <div class="img-box">
                        <div class="boardImg thumbnail">
                            <img th:src="|${thumbnail.imgPath}${thumbnail.imgRename}|">                     
                            
                            <a th:href="|${thumbnail.imgPath}${thumbnail.imgRename}|"
                                th:download="${thumbnail.imgOriginalName}">다운로드</a>         
                        </div>
                    </div>
                </th:block>
                
                <!-- 일반 이미지 출력 -->
                <th:block th:if="${#lists.size(board.imageList) > start}">
                                <!-- 썸네일 있다면 start = 1 / 없다면 start = 0 -->
                    <h5>업로드 이미지</h5>  
                    <th:block th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1)}">                                
                        <div class="img-box">
                            <div class="boardImg">

                                <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|">  

                                <a th:href="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|"
                                    th:download="${board.imageList[i].imgOriginalName}"
                                >다운로드</a>                
                            </div>
                        </div>
                    </th:block>    
                </th:block>
                
            </th:block>

            <!-- ====================== 이미지가 있을 경우 출력하는 구문 ====================== -->
            
            <!-- 내용 -->
            <div class="board-content" th:text="*{boardContent}">내용</div>

        </section>

        <div class="bio-section">
          <textarea
            id="bio-input"
            class="Comment-home"
            readonly
            placeholder="안녕하세요! FeatherWorld에 오신 걸 환영합니다."
          ></textarea>
        </div>

        <div class="post-actions">
          <a
            th:href="@{/{memberNo}/profileupdate(memberNo=${memberNo})}"
            class="post-button"
          >
            Profile Update
          </a>

          <a th:href="@{/account/delete}" class="post-button">Delete Account</a>
        </div>
      </div>

      <!-- Right sidebar - Navigation Menu -->
      <th:block th:replace="~{common/navSidebar}"></th:block>
    </div>

    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/profile/profile.js"></script>
    <script src="/js/miniHome/sidebar.js"></script>
  </body>
</html>
