<!-- 왼쪽 사이드 메뉴 조각(fragment) 
  -> 필요한 곳에서
   th:replace="~{조각경로}" / th:insert="~{조각경로}" 
-->

<section class="right-side">
  사이드 메뉴

  <ul class="list-group">
    
    <li>
      <a href="/myPage/home">Home</a>
    </li>

    <li>
      <a href="/myPage/board">Board</a>
    </li>

    <li>
      <a href="/myPage/friendList">FriendList</a>
    </li>

    <li>
      <a href="/myPage/playList">Playlist</a>
    </li>

    <li>
      <a href="/myPage/Guestbook">Guestbook</a>
    </li>


  </ul>

</section>