<div class="left-sidebar">
  <div class="board-type-sidebar">
    <div>
      <span class="board-type-title">Board Type</span>
      <th:block th:if="${session.loginMember?.memberNo == memberNo}">
        <span class="edit-button"><i class="icon-edit"></i>edit</span>
      </th:block>
    </div>
    <!-- th:data-board-code="*{boardCode}" 해당 boardCode 값을 각각의 게시판 div에 추가 -->
    <div class="board-type-item" th:data-board-code="*{boardCode}" th:each="boardType : ${session.boardTypeList}" th:object="${boardType}">
      <span class="board-type-title" th:text="*{boardName}">Daily</span>
      <span class="edit-icon"><i class="icon-edit"></i></span>
      <span class="delete-icon"><i class="icon-delete"></i></span>
    </div>
    <th:block th:if="${session.loginMember?.memberNo == memberNo}">
      <div class="add-folder">
        <i class="icon-add"></i> Add Folder
      </div>
    </th:block>
  </div>
</div>