<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{app.name}">Feathers McGrew Semi Project</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/boardType.css">
    <link rel="stylesheet" href="/css/board/boardList.css" />
    <link rel="stylesheet" href="/css/board/boardWrite.css" />
  </head>
  <body>
    <div class="container">
      <!-- 헤더 Include -->
      <th:block th:replace="~{common/header}"></th:block>

      <div class="content-container">
        <!-- 좌측 게시판 리스트 Include -->
        <th:block th:replace="~{board/boardTypeSidebar}"></th:block>

        <!-- 중앙 게시글 상세 -->
        <div class="main-content">
          <div class="back-button">
            <span class="fa-solid fa-left-long"></span>
          </div>

          <div class="board-write">
            <form class="board-form">
              <div class="input-group mb-4">
                <input type="text" class="form-control"
                  placeholder="Board Title" aria-label="Board Title"/>
              </div>

              <div class="content-area">
                <textarea class="form-control" placeholder="Board Content"
                          rows="20" cols="70"></textarea>
                <div class="byte-counter">(12/2000)bytes</div>
              </div>

              <div class="button-group">
                <button class="btn-cancel">Cancel</button>
                <button class="btn-confirm">Confirm</button>
              </div>
            </form>
          </div>
        </div>

        <!-- 우측 네비게이션 바 Include -->
        <th:block th:replace="~{common/navSidebar}"></th:block>
      </div>

      <!-- 푸터 Include -->
      <th:block th:replace="~{common/footer}"></th:block>
    </div>

    <!-- JS 에서 쓰기 버튼 클릭 이벤트에 활용할 현재 게시판 종류 번호 선언 -->
    <script th:inline="javascript">
      const currentBoardCode = /*[[${boardCode}]]*/ 0;
    </script>
    <script src="/js/board/boardWrite.js"></script>
  </body>
</html>
