<div class="left-sidebar">
  <div class="board-type-sidebar">
    <div class="board-type-item">
      <span class="board-type-title">Board Type</span>
    </div>
    <div class="board-type-item" th:each="boardType : ${boardTypeList}" th:object="${boardType}">
      <span class="board-type-title" th:text="*{boardName}">Daily</span>
      <span class="edit-icon"><i class="icon-edit"></i></span>
      <span class="delete-icon"><i class="icon-delete"></i></span>
    </div>
    <div class="add-folder">
      <i class="icon-add"></i> Add Folder
    </div>
  </div>
</div>