<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.name}">Feathers McGrew Semi Project</title>

  <th:block th:replace="~{common/common}"></th:block>
  <link rel="stylesheet" href="/css/board/boardList.css">
</head>
  <body>
    
    <div class="container">
      <!-- 헤더 Include -->
      <th:block th:replace="~{common/header}"></th:block>
      
      <div class="content-container">
        <!-- 좌측 게시판 리스트 Include -->
        <th:block th:replace="~{board/boardTypeSidebar}"></th:block>
        
        <!-- 중앙 게시글 목록 -->
        <div class="main-content">
          <div class="board-list">
            <!-- 게시글이 존재하지 않는 경우 -->
            <div th:if="${boardList == null}">
              <span>게시글이 존재하지 않습니다.</span>
            </div>

            <!-- 게시글이 존재하는 경우, DB에서 가져온 게시글 목록 순회 -->
            <div class="board-item" th:unless="${boardList == null}" th:each="board : ${boardList}" th:object="${board}">
              <div class="board-wrap">
                <!-- 썸네일 여부에 따라 다르게 표시 -->
                <div th:if="*{thumbnail != null}" class="board-thumbnail">
                    <img th:src="*{thumbnail}" alt="thumbnail">
                </div>
                <div class="board-main">
                  <div class="board-title" th:text="*{boardTitle}">게시글 제목</div>
                  <div class="board-content" th:text="*{boardContent}">게시글 내용</div>
                </div>
              </div>
              <div class="board-info">
                <div class="board-date" th:text="*{boardWriteDate}">게시일</div>
                <div class="board-reads">
                  <i class="icon-read"></i>
                  <span th:text="*{readCount}">0</span>
                </div>
              </div>
            </div>
          </div>

          <div>
            <!-- 페이징 처리 -->
            <div class="pagination" th:if="${pagination != null}" th:object="${pagination}">

              <span>&lt;&lt;</span>
              <span class="page-nav">&lt;</span>

              <th:block th:if="*{startPage <= endPage}" th:each="i : *{#numbers.sequence(startPage, endPage)}">
                <span th:text="${i}" th:classappend="${i} == *{currentPage} ? 'current' : ''"></span>
              </th:block>

              <span class="page-nav">&gt;</span>
              <span>&gt;&gt;</span>

            </div>
            
            <!-- 글쓰기 버튼 -->
            <div class="write-button">
              <span type="button">Write</span>
            </div>
          </div>
        </div>
        
        <!-- 우측 네비게이션 바 Include -->
        <th:block th:replace="~{common/navSidebar}"></th:block>
      </div>
      
      <!-- 푸터 Include -->
      <th:block th:replace="~{common/footer}"></th:block>
    </div>

    <script src="/js/board/boardList.js"></script>
  </body>
</html>