<head>
  <link rel="stylesheet" href="/css/common/main.css" />
  <!-- for pagination -->
  <link rel="stylesheet" href="/css/friendList/friendListPart.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <!-- DB 수정완료 되었을시 뜨는 v표시 애니메이션-->
</head>

<div id="my-friend-list">
  <div class="title">
    <ul
      class="title-font"
      th:text="${session.loginMember?.memberNo == memberNo?'내 ': memberNo + '님의 '} + '일촌 목록'"
    >
      <!-- 250521 나중에 미니홈피 profile 구현 후 서버에서 member정보를 model 등에 구현했을떄 다시 수정할것.-->
      내 일촌 목록
    </ul>
    <button
      id="send-friend-request-button"
      th:if="${session.loginMember != null and session.loginMember.memberNo != memberNo}"
      class="left-align button-default"
    >
      일촌 요청 보내기
    </button>
    <button
      id="edit-button"
      th:unless="${session.loginMember == null or session.loginMember.memberNo != memberNo}"
      class="right-align button-default"
    >
      Edit
    </button>
    <div id="apply-cancel-button-div" class="right-align hidden">
      <button id="apply-button" class="button-default hidden">Apply</button>
      <button id="cancel-button" class="button-default hidden">Cancel</button>
    </div>
  </div>
  <ul id="friend-list">
    <th:block th:each="ilchon : ${ilchons}">
      <li
        class="friend-item"
        th:attr="data-member-no=${ilchon.toMemberNo == session.loginMember?.memberNo?ilchon.fromMemberNo:ilchon.toMemberNo}"
      >
        <div class="left-align">
          <img
            th:if="${ilchon.memberImg}"
            th:src="@{${ilchon.memberImg}}"
            width="20"
          />
          <img
            th:unless="${ilchon.memberImg}"
            th:src="@{/images/default-user.png}"
            width="20"
          />
          <span class="font-bold color-gray" th:text="${ilchon.memberName}"
            >별명</span
          >
        </div>

        <div class="right-align">
          <span
            name="fromNickname"
            class="color-gray"
            th:text="${ilchon.fromNickname}"
            >일촌명</span
          >

          <span name="ilchon-button" class="rounded-span right-align font-bold"
            >일촌</span
          >
          <i class="fas fa-check-circle check-icon hidden"></i
          ><!--DB 닉네임 업데이트 성공시 나타나는 V표식-->
          <i class="fas fa-check-circle x-icon hidden"></i
          ><!--DB 닉네임 업데이트 실패시 나타나는 V표식-->
          <textarea
            name="fromNickname-input"
            class="hidden"
            rows="1"
          ></textarea>
          <span
            name="unfollow-button"
            class="rounded-unfollow-span right-align color-red hidden"
            width="30px"
            >Unfollow</span
          >
        </div>
      </li>
    </th:block>
    <th:block th:if="${#lists.isEmpty(ilchons)}">
      <li>일촌이 없습니다.</li>
    </th:block>
  </ul>

  <!-- pagination -->
  <ul class="pagination" th:if="${pagination != null}">
    <!-- << -->
    <li><a th:href="@{/friendList(cp=1)}">&lt;&lt;</a></li>

    <!-- < -->
    <li><a th:href="@{/friendList(cp=${pagination.prevPage})}">&lt;</a></li>

    <!-- Page numbers -->
    <th:block
      th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
    >
      <li th:if="${i == pagination.currentPage}">
        <a class="current" th:text="${i}"></a>
      </li>
      <li th:if="${i != pagination.currentPage}">
        <a th:href="@{/friendList(cp=${i})}" th:text="${i}"></a>
      </li>
    </th:block>

    <!-- > -->
    <li><a th:href="@{/friendList(cp=${pagination.nextPage})}">&gt;</a></li>

    <!-- >> -->
    <li><a th:href="@{/friendList(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
  </ul>
</div>

<!--***********author : ahn     **********
***************2505015 todo :   **********


1. 다음/이전 pagenation (<,<<,>>,>) 에서 500에러 나지않게(로그인 세션 구현후 시험해볼것)
2. 전용 friendList.css 파일 만들기-->
