<!-- 페이지 디자인 수정 관계로 friendListCopy.html로 forward시켜둠. 이 html파일은 일단 삭제하지 말것.-->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>FeatherWorld</title>
    <!-- 공용 css/js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
    <!-- miniHome 전용 CSS -->
    <link href="/css/friendList/friendList.css" rel="stylesheet" /> 

    <!-- for pagination -->
    <link href="/css/friendList/friendListPart.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header Fragment -->
    <header th:replace="~{common/header}"></header>
    <div class="container">
      <!-- Left Panel - Profile Information -->
      <div class="left-panel">
        <div th:replace="~{common/leftsidebar}"></div>
      </div>

      <!-- Middle Panel - Posts -->
      <div class="middle-panel">
        <th:block th:replace="~{friendList/friendListPart}"></th:block
        ><!--replace 조각에 memberNo변수를 넘겨야함.-->
        <div class="right-panel">
          <th:block th:replace="~{common/navSidebar}"></th:block>
        </div>
      </div>
    </div>

    <!-- 푸터 추가 -->
    <footer th:replace="~{common/footer.html}"></footer>

    <script
      src="/js/friendList/friendListPart.js"
      th:inline="javascript"
    ></script>
    <!-- script에서는 절대 경로를 써야한다!!-->
    <script th:inline="javascript">
      let memberNo = /*[[${memberNo}]]*/ 0;
    </script>
  </body>
</html>
