<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeatherWorld - MiniHome</title>

    
    <!-- 공통 CSS -->
    <th:block th:replace="~{common/common}"></th:block>

    <!-- 미니홈피 전용 CSS -->
    <link rel="stylesheet" href="/css/miniHome/miniHome.css" />
    <link href="/css/friendList/friendListPart.css" rel="stylesheet" />
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/friendList/incomingFriendListPart.css" rel="stylesheet" />

  </head>
  <body class="minihome-page">
    <script th:inline="javascript">
      const memberNo = /*[[${memberNo}]]*/ 0;
    </script>

    <script src="/js/miniHome/miniHome.js"></script>

    <script src="/js/miniHome/leftSidebar.js"></script>
    <script th:inline="javascript">
    function updateFriendList(cp, cpFrom) {//for pagination
      fetch(`/${memberNo}/friendList/incoming?cp=${cp}&cpFrom=${cpFrom}`, {
        headers: {
          "X-Requested-With": "XMLHttpRequest",
        },
      })
        .then((res) => {
          if (!res.ok) {
            throw new Error("요청 실패: " + res.status);
          }
          return res.text();
        })
        .then((html) => {
          // 응답받은 HTML을 파싱해서 DOM으로 변환
          const parser = new DOMParser();
          const doc = parser.parseFromString(html, "text/html");

          const newBlock = doc.querySelector('[name="inc-friend-list"]');

      // 기존 DOM의 요소 교체
        const currentBlock = document.querySelector('[name="inc-friend-list"]');
    
        if (newBlock && currentBlock) {
          currentBlock.outerHTML = newBlock.outerHTML;
        }
    })
    .catch(err => console.error("fragment 갱신 실패:", err));
    }
  </script>
    <div class="container">
      <!-- Header Fragment -->
      <div th:replace="~{common/header}"></div>

      <div class="content-container">
        <!-- Left sidebar - Profile -->
        <div class="left-sidebar">
          <div th:replace="~{common/leftsidebar}"></div>
        </div>

        <!-- Middle Content Area -->
        <div class="main-content" style="min-height: 600px">
          <th:block
          name="inc-friend-list"
          th:replace="~{friendList/incomingFriendListPart}"
        ></th:block>
          <!-- Right sidebar -->
          
        </div>
        <th:block th:replace="~{common/navsidebar}"></div>
        <div th:replace="~{common/footer}"></div>
      </div>

      <!-- Footer -->
    </div>



    
  </body>
</html>
