/* 좌측 사이드바 넓이 조정 및 스타일 */
.left-sidebar {
  width: 200px; /* 최소 너비 고정 */
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  background-color: #fff;
}

/* 중앙 콘텐츠 영역 */
.content-area {
  flex: 1; /* 남은 공간 모두 차지 */
  padding: 20px;
  background-color: #fff;
  min-height: 600px;
}

/* 우측 사이드바 고정 너비와 배경 */
.right-sidebar {
  width: 180px; /* 고정 너비 */
  padding: 20px;
  border-left: 1px solid #e0e0e0;
  background-color: #fff;
}

/* .content-container flex layout 유지 */
.content-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* 영역 간 간격 */
  background-color: transparent; /* 배경이 두 번째 이미지처럼 흰색  */
  min-height: 600px;
}

/* 우측 네비게이션 메뉴 스타일 */
.nav-sidebar {
  display: flex;
  flex-direction: column;
}

.nav-sidebar > a {
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-sidebar > a:hover {
  background-color: #9f2120;
  color: white;
}

.nav-sidebar .nav-item > span {
  width: 24px;
  margin-right: 8px;
  text-align: center;
}
