<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.featherworld.project.member.model.mapper.MemberMapper">

		<!-- 회원가입 SQL 영민 -->
		
		<insert id="signUp" parameterType="Member">
    
	    <!-- 시퀀스 값을 먼저 가져와서 memberNo에 설정 -->
    	<selectKey keyProperty="memberNo" resultType="int" order="BEFORE">
        
        SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
    	
    	</selectKey>
    
    	INSERT INTO MEMBER VALUES(
        #{memberNo},
        #{memberEmail},
        #{memberPw},
        #{memberName},
        #{memberTel},
        #{memberAddress},
        NULL,
        DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, NULL
          )
      </insert>
	
	<!-- 회원가입을 하고나서 바로 boardType 하나 추가함 -->
	<insert id="setDefaultBoardType">
	INSERT INTO BOARD_TYPE
	VALUES(SEQ_BOARD_CODE_NO.NEXTVAL,DEFAULT,DEFAULT,#{memberNo})
		
	</insert>
	
	<!-- 로그인  -->
	<select id="login">
	SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NAME, MEMBER_ADDRESS,
	MEMBER_PW, MEMBER_TEL, MEMBER_IMG, MEMBER_INTRO,
	HOME_TITLE, VISITOR_TOTAL
	FROM MEMBER
	WHERE MEMBER_EMAIL = #{memberEmail}
	AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!--  회원가입중 이메일중복확인 -->
	<select id="checkEmail">
	SELECT COUNT(*)
	FROM MEMBER
	WHERE MEMBER_EMAIL = #{memberEmail}
	AND MEMBER_DEL_FL = 'N'
	</select>
	
	<!--  가입된 회원의 이메일 찾기 -->
	<select id="findId" resultType="Member" parameterType="Member">
    SELECT MEMBER_EMAIL
    FROM MEMBER
    WHERE MEMBER_NAME = #{memberName}
    AND MEMBER_TEL = #{memberTel}
	</select>
	
	<!-- 가입된 회원의 비밀번호 변경 -->
	<update id="resetPassword">
	UPDATE MEMBER SET
	MEMBER_PW = #{memberPw}
	WHERE MEMBER_EMAIL = #{memberEmail}	
	</update>
	
	

</mapper>
