<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.featherworld.project.miniHome.model.mapper.MiniHomeMapper">

	
	<select id="findmember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NAME, MEMBER_EMAIL, MEMBER_IMG
		,MEMBER_INTRO,HOME_TITLE
		FROM MEMBER 
		WHERE MEMBER_NO = #{memberNo}
		AND MEMBER_DEL_FL = 'N'
	</select>
	
	<select id="findilchon" resultType="_int">
		SELECT COUNT(*)
		FROM ILCHON
		WHERE TO_MEMBER_NO = #{toMemberNo}
		AND FROM_MEMBER_NO = #{fromMemberNo}
	</select>	
	
	<!-- 방문자 올리는거-->
	<insert id="todayAdd">
	 INSERT INTO TODAY
	 VALUES(#{homeNo}, #{visitNo}, TRUNC(SYSDATE))
	</insert>	
	
	<!-- 오늘 특정 미니홈에 방문했는지 확인 -->
	<select id="todayConfirm">
    SELECT COUNT(*)
    FROM TODAY
    WHERE HOME_NO = #{homeNo}
    AND VISIT_NO = #{visitNo}
    AND VISIT_DATE = TRUNC(SYSDATE)
	</select>
	
	<!-- 특정 미니홈의 오늘 총 방문자 수 조회 -->
	<select id="todayCount">
    SELECT COUNT(*)
    FROM TODAY
    WHERE HOME_NO = #{homeNo}
     AND VISIT_DATE = TRUNC(SYSDATE)
	</select>
	
	<!-- 특정 미니홈의 전체 방문자수-->
	<select id="totalCount">
    SELECT COUNT(*)
    FROM TODAY
    WHERE HOME_NO = #{homeNo}
	</select>
	
	<!-- 팔로워 수 조회 (남이 나를 일촌신청한 수) -->
	<select id="getFollowerCount">
    SELECT COUNT(*)
    FROM ILCHON
    WHERE TO_MEMBER_NO = #{memberNo}
    AND IS_ILCHON = 'Y'
	</select>


	<!-- 팔로잉 수 조회 (내가 남에게 일촌신청한 수) -->
    <select id="getFollowingCount">
    SELECT COUNT(*)
    FROM ILCHON
    WHERE FROM_MEMBER_NO = #{memberNo}
    AND IS_ILCHON = 'Y'
    </select>
    
    <!-- 미수락 팔로워 신청 수 조회 (남이 나에게 일촌신청했는데 아직 승인 안한 것) -->
	<select id="getPendingFollowerCount">
    SELECT COUNT(*)
    FROM ILCHON
    WHERE TO_MEMBER_NO = #{memberNo}
    AND IS_ILCHON = 'N'
	</select>
	
		<!-- 일촌 신청 보내기 -->
		<insert id="sendFollowRequest" parameterType="Ilchon">
    	INSERT INTO ILCHON (
        FROM_MEMBER_NO, 
        TO_MEMBER_NO, 
        FROM_NICKNAME, 
        TO_NICKNAME, 
        IS_ILCHON
        ) VALUES (
        #{fromMemberNo},
        #{toMemberNo},
        #{fromNickname},
        #{toNickname},
        'N'
        )
		</insert>

  	
	<!-- 대기중인 일촌 신청 조회 (IS_ILCHON='N'인 것만) -->
	<select id="findPendingIlchon" parameterType="Ilchon">
	SELECT COUNT(*)
	FROM ILCHON 
	WHERE FROM_MEMBER_NO = #{fromMemberNo} 
	AND TO_MEMBER_NO = #{toMemberNo}
	AND IS_ILCHON = 'N'
	</select>
	
	<!-- 수락된 일촌 관계만 조회 (IS_ILCHON='Y') -->
	<select id="findAcceptedIlchon" parameterType="Ilchon" resultType="int">
    SELECT COUNT(*)
    FROM ILCHON 
    WHERE FROM_MEMBER_NO = #{fromMemberNo} 
    AND TO_MEMBER_NO = #{toMemberNo}
    AND IS_ILCHON = 'Y'
	</select>

	
</mapper>
