<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.featherworld.project.miniHome.model.mapper.ProfileMapper">


<!-- bio 업로드 mapper -->
<update id="updateBio">
  UPDATE PROFILE
  SET BIO = #{bio}
  WHERE MEMBER_ID = #{memberId}
</update>

	
</mapper>
