<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>FeatherWorld</title>
    <!-- 공용 css/js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" href="/css/miniHome/miniHome.css" />
    <link rel="stylesheet" href="/css/miniHome/Comment.css" />
  </head>
  <body>
    <!-- Header Fragment -->
    <div th:replace="~{common/header}"></div>

    <div class="content-container">
      <div class="left-sidebar">
        <!-- Left sidebar - Profile Information -->
        <div th:replace="~{common/leftsidebar}"></div>
      </div>

      <!-- Middle sidebar - Posts -->
      <div class="content-area">
        <div class="boardContainer">
          <div class="boardSummary">
            <div class="summary-links">
              <a href="#">Board Total</a>
              <a href="#">Guest Book Total</a>
            </div>
          </div>

          <div class="recentBoard">Recent Board</div>

         <form action="/{memberNo:[0-9]+}/minihome"
          method="POST" enctype="multipart/form-data" >

          <div>
            1번) type="file" 요소를 여러 개 작성
            <br>
            <input type="file" name="aaa">
            <br>
            <input type="file" name="aaa">
          </div>

          <hr>

          <div>
            2번) multiple 사용(드래그 가능)
            <input type="file" name="bbb" multiple>
          </div>

          <button class="miniHome">제출하기</button>

        </form>

          
        <th:block th:if="${isIlchon}">
          <button class="write-button" id="showCommentAreaBtn">write</button>
        </th:block>


          
           <!-- 댓글 영역-->
        <th:block th:replace="~{miniHome/comment}"></th:block>

          
        </div>
      </div>

      <!-- Right sidebar - Navigation Menu -->
      <div class="right-sidebar">
        <th:block th:replace="~{common/navsidebar}"></th:block>
      </div>
    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/miniHome/miniHome.js"></script>
    <script src="/js/board/comment.js"></script>
  </body>
</html>
